[Desktop Entry]
Encoding=UTF-8
Name=MIA
Comment=MIA P2P Cryptocurrency
Comment[fr]=MIA, monnaie virtuelle cryptographique pair à pair
Comment[tr]=MIA, eşten eşe kriptografik sanal para birimi
Exec=mia-qt %u
Terminal=false
Type=Application
Icon=mia128
MimeType=x-scheme-handler/mia;
Categories=Office;Finance;
